<div class='col-sm-3 mar10'>


    {{#link-to 'product' product}}
      <ul class='bxslider'>
        {{#each product.images as |image|}}
          <li><img src={{image.smallUrl}}></li>
        {{/each}}
      </ul>
      <h6>{{product.name}}</h6>
      <h6>{{product.displayPrice}}</h6>
    {{/link-to}}

    <div>
      {{yield}}
    </div>

</div>